#!/usr/bin/make -f

export PYBUILD_NAME=sprockets-mixins-statsd
# Disable tests so we don't need test dependencies at build time.
export PYBUILD_DISABLE_python2.7=test
export PYBUILD_DISABLE_python3=test

%:
	dh $@ --with python2,python3 --buildsystem=pybuild